* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #B37244;
    --color2: #33F2C4;
    --color3: #D39264;
    --color4: #5312E4;
}

body {
    width: 100%;
    margin: 0 auto;
}

/*Header styles start*/
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: var(--color1);
    /*
    position: sticky;
    position: -webkit-sticky;
    top: -70px;
    */
    z-index: 1000;
}

header h1 {
    font-size: 40px;
    color: var(--color2);
    flex: 5 20%;
}

header div {
    width: 75px;
    flex: 1 5%;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex: 15 60%;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    margin-left: 15px;
    font-size: 24px;
    color: var(--color2);
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1.5px solid var(--color2);
}

header ul li a:visited {
    color: var(--color2);
}

header ul li a:hover {
    background-color: var(--color2);
    box-shadow: 0 0 10px black;
    color: var(--color1);
}
/*Header styles end*/

/*hero-animation*/
.hero-animation {
    background-color: var(--color1);
}
/*End hero-animation*/

/*main-section class*/
.main-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.main-section h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 23%;
    text-align: end;
    padding-right: 30px;
}

.main-section article {
    flex: 0 0 77%;
    display: flex;
    padding-left: 15px;
    border-left: 2px solid var(--color2);
}

.main-section article div {
    flex: 1 50%;
}

.sectionContent {
    flex-wrap: wrap;
    display: flex;
}

.work-row {
    display: flex;
    flex-wrap: wrap;
}

.work-row-div {
    position: relative;
    /*width: 500px;*/
    flex: 0 0 40%;
}

.work-row-div span, .work-row-div h3 {
    position: absolute;
    padding: 5px;
    background-color: var(--color3);
    color: var(--color4);
    box-shadow: 0 0 7.5px black;
    z-index: 100;
}

.work-row-div span {
    bottom: 35px;
    left: 35px;
}

.work-row-div h3 {
    top: 35px;
    right: 75px;
}

.work-row img {
    width: 95%;
    margin: 20px;
    max-width: 500px;
}

.work-row:nth-child(odd) {
    background-color: var(--color1);
}
/*
#first-project {
    width: 1000px;
    width: 70%;
}

#first-project img {
    width: 90%;
    margin: 20px 50px;
}
*/
.work-row-prime {
    width: 100%;
    background-color: var(--color1);
    position: relative;
}

.work-row-prime img {
    width: 93%;
    margin: 20px 35px 20px 35px;
}

.work-row-prime span, .work-row-prime h3 {
    position: absolute;
    padding: 5px;
    background-color: var(--color3);
    color: var(--color4);
    box-shadow: 0 0 7.5px black;
    z-index: 100;
}

.work-row-prime span {
    bottom: 35px;
    left: 35px;
}

.work-row-prime h3 {
    top: 35px;
    right: 75px;
}

.work-row img:hover, .work-row-prime img:hover {
    box-shadow: 0 0 30px black;
}

.contact-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.contact-list li {
    display: inline;
    font-size: 24px;
    color: var(--color4);
    padding: 10px 30px;
}

.contact-list li a {
    text-decoration: none;
    color: var(--color4);
}
/*main-section class ends*/

/*Footer styles start*/
footer {
    background-color: var(--color1);
    padding: 20px 40px;
}

footer h3 {
    color: var(--color2);
    font-size: 24px;
}
/*Footer styles end*/
@media screen and (max-width: 1024px) {
    .work-row-div h3 {
        right: 50px;
        font-size: 16px;
    }

    .work-row-div span {
        left: 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
    }

    .main-section h2 {
        text-align: center;
        width: 35%;
        margin: 0 auto 15px auto;
        border-bottom: 2px solid var(--color2);
        padding-bottom: 10px;
        padding-left: 30px;
    }

    .main-section article {
        border-left: none;
    }

    .work-row-prime {
        margin-bottom: 15px;
    }

    .work-row {
        margin-bottom: 15px;
        border-top: 2px solid var(--color2);
        display: block;
        justify-content: space-between;
    }

    #first-project {
        width: 100%;
    }

    .work-row img, #first-project img {
        width: 90%;
        margin: 15px;
    }

    .work-row:first-child {
        border-top: none;
    }

    .work-row-div {
        width: 100%;
        border-top: 2px solid var(--color2);
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 575px) {
    .work-row {
        flex-direction: column;
    }
    #first-project {
        width: 100%;
    }

    .contact-list li {
        font-size: 20px;
    }
}